# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. TensorFlow
6. Keras
7. SciPy
8. Plotly

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
x = input("Type input in minutes: ")
print('That is equal to ' + str(float(x) / 60) + ' hours')

Type input in minutes: 200
That is equal to 3.3333333333333335 hours

## Author
Gil Cheong